<body>
    <section style="border:1px solid RoyalBlue;">
        <section style="background-color:White; font-family:Georgia;text-align:center">
            <h1 style="color:RoyalBlue">Introduction to Data Science</h1>
            <h2 style="color:RoyalBlue">Dr.	Casey Kennington</h1>
            <h2 style="font-family:Courier; text-align:center;">CS-533</h2>
            <br>
            <h2 style="font-family:Garamond;">Gerardo Caracas Uribe</h2>
            <h2 style="font-family:Garamond;">Student ID: 114104708</h2>
            <h2 style="font-family:Courier;">Homework #4 Series and Frames</h2>
            <hr/>
        </section>
    </section>
</body>

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 31</h2>
        <h3 style="font-family:Garamond;">Geting Used to Pandas Data Structures</h3>
        <hr/>
    </section>
</body>

In [100]:
import pandas as pd
# The last value is wrokg, we will fix it later!
inflation = pd.Series((2.2, 3.4,2.8,1.6,2.3,2.7,3.4,3.2,2.8,3.8,-0.4,1.6,3.2,2.1,1.5,1.5))
inflation

0     2.2
1     3.4
2     2.8
3     1.6
4     2.3
5     2.7
6     3.4
7     3.2
8     2.8
9     3.8
10   -0.4
11    1.6
12    3.2
13    2.1
14    1.5
15    1.5
dtype: float64

In [101]:
len(inflation)

16

In [102]:
inflation.values

array([ 2.2,  3.4,  2.8,  1.6,  2.3,  2.7,  3.4,  3.2,  2.8,  3.8, -0.4,
        1.6,  3.2,  2.1,  1.5,  1.5])

In [103]:
inflation.index

RangeIndex(start=0, stop=16, step=1)

In [104]:
inflation.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15],
      dtype=int64)

In [105]:
import numpy as np
inflation = pd.Series({1999:2.2,2000:3.4,2001:2.8,2002:1.6,2003:2.3,2004:2.6,2005:3.4,2006:3.2,2007:2.8,2008:3.8,2009:-0.4,2010:1.6,2011:3.2,2012:2.1,2013:1.5,2014:1.6,2015:np.nan})

In [106]:
inflation.index = pd.Index(range(1999, 2016))
inflation[2015]=np.nan
inflation

1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.6
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
dtype: float64

In [107]:
inflation.index.name = "Year"
inflation.name = "%"

In [108]:
inflation.head()

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
Name: %, dtype: float64

In [109]:
inflation.tail()

Year
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
Name: %, dtype: float64

The following section we don't have all the data but I will do my best to replicate the excercises by loading a csv file

In [110]:
tmpdata=pd.read_csv("./data.csv")
alco2009 = tmpdata.loc[tmpdata['Year'] == 2009]
alco2009.set_index('State',inplace=True)
alco2009.drop(['Year'], axis=1, inplace=True)
alco2009

D:\sw\anaconda\envs\fastai\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                      Beer  Wine  Spirits
State
Alabama               1.20  0.22     0.58
Alaska                1.31  0.54     1.16
Arizona               1.19  0.38     0.74
Arkansas              1.07  0.17     0.60
California            1.05  0.55     0.73
Colorado              1.22  0.46     1.00
Connecticut           0.89  0.59     0.86
Delaware              1.31  0.57     1.25
District of Columbia  1.26  1.00     1.64
Florida               1.21  0.48     0.92
Georgia               1.08  0.25     0.64
Hawaii                1.30  0.53     0.75
Idaho                 1.05  0.92     0.70
Illinois              1.22  0.39     0.73
Indiana               1.09  0.25     0.73
Iowa                  1.42  0.18     0.72
Kansas                1.18  0.14     0.67
Kentucky              1.11  0.18     0.65
Louisiana             1.50  0.28     0.85
Maine                 1.24  0.42     0.83
Maryland              0.97  0.37     0.87
Massachusetts         1.02  0.61     0.84
Michigan              1.10  0.31     0.80
Minnesota             1.19  0.37     1.04
Mississippi           1.41  0.11     0.71
Missouri              1.30  0.30     0.83
Montana               1.66  0.45     0.88
Nebraska              1.46  0.20     0.68
Nevada                1.57  0.58     1.15
New Hampshire         1.72  0.84     1.82
New Jersey            0.92  0.57     0.87
New Mexico            1.37  0.32     0.74
New York              0.91  0.46     0.69
North Carolina        1.10  0.34     0.58
North Dakota          1.63  0.25     1.16
Ohio                  1.28  0.26     0.47
Oklahoma              1.18  0.18     0.58
Oregon                1.28  0.49     0.82
Pennsylvania          1.35  0.23     0.61
Rhode Island          1.10  0.53     0.92
South Carolina        1.36  0.24     0.77
South Dakota          1.53  0.22     0.88
Tennessee             1.05  0.21     0.57
Texas                 1.42  0.28     0.58
Utah                  0.70  0.17     0.46
Vermont               1.36  0.63     0.70
Virginia              1.11  0.43     0.59
Washington            1.09  0.51     0.74
West Virginia         1.24  0.10     0.45
Wisconsin             1.49  0.31     1.16
Wyoming               1.45  0.22     1.10

In [111]:
alco2009["Wine"].head()

State
Alabama       0.22
Alaska        0.54
Arizona       0.38
Arkansas      0.17
California    0.55
Name: Wine, dtype: float64

In [112]:
alco2009.Beer.tail()

State
Virginia         1.11
Washington       1.09
West Virginia    1.24
Wisconsin        1.49
Wyoming          1.45
Name: Beer, dtype: float64

In [113]:
alco2009["Total"]=0
alco2009.head()

D:\sw\anaconda\envs\fastai\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

            Beer  Wine  Spirits  Total
State
Alabama     1.20  0.22     0.58      0
Alaska      1.31  0.54     1.16      0
Arizona     1.19  0.38     0.74      0
Arkansas    1.07  0.17     0.60      0
California  1.05  0.55     0.73      0

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 32</h2>
        <h3 style="font-family:Garamond;">Reshaping Data</h3>
        <hr/>
    </section>
</body>

In [114]:
alco2009.columns.values

array(['Beer', 'Wine', 'Spirits', 'Total'], dtype=object)

In [115]:
alco2009.index.values

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [116]:
alco2009.reset_index().set_index("Beer").head()

           State  Wine  Spirits  Total
Beer
1.20     Alabama  0.22     0.58      0
1.31      Alaska  0.54     1.16      0
1.19     Arizona  0.38     0.74      0
1.07    Arkansas  0.17     0.60      0
1.05  California  0.55     0.73      0

In [117]:
alco2009.ix["Nebraska"]

D:\sw\anaconda\envs\fastai\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Beer       1.46
Wine       0.20
Spirits    0.68
Total      0.00
Name: Nebraska, dtype: float64

In [118]:
"Samoa" in alco2009.index

False

In [119]:
s_states = [state for state in alco2009.index if state[0] == 'S'] + ["Samoa"]
drinks = list(alco2009.columns) + ["Water"]
nan_alco = alco2009.reindex(s_states, columns=drinks)
nan_alco

                Beer  Wine  Spirits  Total  Water
State
South Carolina  1.36  0.24     0.77    0.0    NaN
South Dakota    1.53  0.22     0.88    0.0    NaN
Samoa            NaN   NaN      NaN    NaN    NaN

In [120]:
alco=pd.read_csv("./data.csv")
state = ""
test=[]
for a in alco.itertuples():
    if isinstance(a.State, float) == False:
        state = a.State
    test.append(list([state, a.Year]))
alco

        State  Year  Beer  Wine  Spirits
0     Alabama  2009  1.20  0.22     0.58
1         NaN  2008  1.24  0.22     0.58
2         NaN  2007  1.24  0.22     0.56
3         NaN  2006  1.22  0.21     0.55
4         NaN  2005  1.18  0.20     0.53
5         NaN  2004  1.19  0.20     0.52
6         NaN  2003  1.18  0.19     0.52
7         NaN  2002  1.18  0.21     0.53
8         NaN  2001  1.16  0.17     0.53
9         NaN  2000  1.19  0.18     0.51
10        NaN  1999  1.18  0.17     0.51
11        NaN  1998  1.16  0.17     0.51
12        NaN  1997  1.14  0.15     0.52
13        NaN  1996  1.17  0.15     0.53
14        NaN  1995  1.14  0.15     0.53
15        NaN  1994  1.16  0.17     0.54
16        NaN  1993  1.14  0.17     0.56
17        NaN  1992  1.02  0.19     0.59
18        NaN  1991  1.00  0.17     0.59
19        NaN  1990  1.12  0.18     0.61
20        NaN  1989  1.10  0.17     0.60
21        NaN  1988  1.10  0.18     0.61
22        NaN  1987  1.10  0.18     0.61
23        NaN  1986  1.09  0.18     0.64
24        NaN  1985  1.06  0.17     0.67
25        NaN  1984  1.02  0.19     0.69
26        NaN  1983  1.01  0.17     0.71
27        NaN  1982  1.00  0.18     0.72
28        NaN  1981  1.00  0.19     0.73
29        NaN  1980  0.96  0.16     0.74
...       ...   ...   ...   ...      ...
1653      NaN  2006  1.47  0.23     1.05
1654      NaN  2005  1.21  0.23     0.97
1655      NaN  2004  1.41  0.22     0.92
1656      NaN  2003  1.69  0.23     0.90
1657      NaN  2002  1.46  0.22     0.88
1658      NaN  2001  1.43  0.22     0.88
1659      NaN  2000  1.42  0.18     0.86
1660      NaN  1999  1.41  0.18     0.84
1661      NaN  1998  1.38  0.20     0.81
1662      NaN  1997  1.36  0.17     0.81
1663      NaN  1996  1.37  0.16     0.81
1664      NaN  1995  1.34  0.16     0.80
1665      NaN  1994  1.42  0.18     0.83
1666      NaN  1993  1.40  0.19     0.86
1667      NaN  1992  1.44  0.20     0.91
1668      NaN  1991  1.45  0.20     0.90
1669      NaN  1990  1.48  0.22     0.93
1670      NaN  1989  1.35  0.22     0.82
1671      NaN  1988  1.39  0.23     0.83
1672      NaN  1987  1.46  0.24     0.86
1673      NaN  1986  1.46  0.26     0.92
1674      NaN  1985  1.56  0.25     1.03
1675      NaN  1984  1.58  0.22     1.05
1676      NaN  1983  1.66  0.22     1.09
1677      NaN  1982  1.80  0.24     1.21
1678      NaN  1981  1.91  0.24     1.27
1679      NaN  1980  1.85  0.24     1.32
1680      NaN  1979  1.86  0.22     1.30
1681      NaN  1978  1.82  0.22     1.36
1682      NaN  1977  1.79  0.21     1.32

[1683 rows x 5 columns]

In [121]:
multi = pd.MultiIndex.from_tuples(test, names=["State","Year"])
alco.drop(['Year',"State"], axis=1, inplace=True)
alco.index=multi

In [122]:
import pickle
with open("alco.pickle","wb") as oFile:
    pickle.dump(alco, oFile)

PicklingError: Can't pickle <class 'pandas.core.frame.Pandas'>: attribute lookup Pandas on pandas.core.frame failed

In [ ]:
alco.ix['Wyoming'].head()

In [ ]:
alco.ix['Wyoming', 1999]

In [ ]:
tall_alco = alco.stack()
tall_alco.index.names = ['State','Year','Drink']
tall_alco.head()

In [ ]:
wide_alco = alco.unstack()
wide_alco.head()

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 33</h2>
        <h3 style="font-family:Garamond;">Handling Missing Data</h3>
        <hr/>
    </section>
</body>

In [ ]:
nan_alco.dropna(how="all")

In [ ]:
nan_alco.dropna(how="all", axis=1)

In [ ]:
nan_alco.dropna()

In [ ]:
nan_alco.isnull()

In [ ]:
nan_alco.notnull()

In [ ]:
sp = nan_alco['Spirits'] # Selected a column with dirty rows
clean = sp.notnull() # The clean rows
sp[-clean] = sp[clean].mean() # Impute the clean mean into the dirty rows
nan_alco

In [ ]:
nan_alco.fillna(0)

In [ ]:
nan_alco.fillna(method="ffill")

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 34</h2>
        <h3 style="font-family:Garamond;">Combining Data</h3>
        <hr/>
    </section>
</body>

In [ ]:
population=pd.read_csv("./population.csv",thousands=',')
population=population.set_index("State")
alco2009.drop(columns="Total",inplace=True)

In [ ]:
population.head()

In [ ]:
df = pd.merge(alco2009.reset_index(),
population.reset_index()).set_index("State")
df.head()

In [ ]:
df = pd.merge(alco2009, population, left_index=True, right_index=True)
df.head()

In [ ]:
population.join(alco2009).tail(10)

In [ ]:
pd.concat([alco2009, population], axis=1).tail()

In [ ]:
pop_ca=pd.read_csv("./1710000501-eng.csv",thousands=',')
pop_ca.set_index("State", inplace=True)
pop_ca.head()

In [ ]:
pop_na = pd.concat([population, pop_ca], keys=["US", "CA"])
pop_na.index.names = ("Country", "State")
pop_na

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 35</h2>
        <h3 style="font-family:Garamond;">Ordering and Describing Data</h3>
        <hr/>
    </section>
</body>

In [ ]:
population.sort_index().head()

In [ ]:
population.sort_values("Population").head()

In [ ]:
pop_by_state = population.sort_index()
pop_by_state.rank().head()

In [ ]:
alco2009.max()

In [ ]:
alco2009.min(axis=1)

In [ ]:
alco2009.sum()

In [ ]:
alco.ix['Hawaii'].cumsum().head()

In [ ]:
alco.ix['Hawaii'].diff().head()

In [ ]:
dna = "AGTCCGCGAATACAGGCTCGGT"
dna_as_series = pd.Series(list(dna), name="genes")
dna_as_series.head()

In [ ]:
dna_as_series.unique()

In [ ]:
dna_as_series.value_counts().sort_index()

In [ ]:
valid_nucs = list("ACGT")
dna_as_series.isin(valid_nucs).all()

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 36</h2>
        <h3 style="font-family:Garamond;">Transforming Data</h3>
        <hr/>
    </section>
</body>

In [ ]:
alco["Total"] = alco.Wine + alco.Spirits + alco.Beer
alco.head()

In [ ]:
np.log10(alco.Total).head()

In [ ]:
dna = "AGTCCGCGAATACAGGCTCGGT"
dna1 = dna.replace("C", "")
dna2 = dna.replace("T", "")
dna_as_series1 = pd.Series(list(dna1), name="genes") # No C's
dna_as_series2 = pd.Series(list(dna2), name="genes") # No T's
dna_as_series1.value_counts() + dna_as_series2.value_counts()

In [ ]:
# We want to group by the "Year" column
alco_noidx = alco.reset_index()
sum_alco = alco_noidx.groupby("Year").sum()
sum_alco.tail()

In [ ]:
regions=pd.read_csv("./regions.csv")
state2reg = dict()
for data in regions.itertuples():
    state2reg.update({data.state:data.Region})

In [ ]:
state2reg

In [ ]:
alco2009.groupby(state2reg).mean()

In [ ]:
cats = pd.cut(alco2009['Wine'], 3).head()
cats

In [ ]:
cats = pd.cut(alco2009['Wine'], 3, labels=("Low", "Moderate", "Heavy"))
cats.head()

In [ ]:
cats = pd.cut(alco2009['Wine'], 3, labels=False).head()
cats

In [ ]:
quants = pd.qcut(alco2009['Wine'], 3, labels=("Low", "Moderate", "Heavy"))
quants.head()

In [ ]:
pd.get_dummies(state2reg).sort_index().head()

In [ ]:
with_state = alco2009.reset_index()
abbrevs = with_state["State"].map(lambda x: x[:3].upper())
abbrevs.head()

In [ ]:
wine_state = alco2009["Wine"] > alco2009["Wine"].mean()
beer_state = alco2009["Beer"] > alco2009["Beer"].mean()
pd.crosstab(wine_state, beer_state)

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Unit 37</h2>
        <h3 style="font-family:Garamond;">Taming Pandas File I/O</h3>
        <hr/>
    </section>
</body>

In [ ]:
regions = pd.read_csv("original_regions.csv",
header=None,
names=("region", "division", "state"))
state2reg_series = regions.ffill().set_index("state")["region"]
state2reg_series.head()

In [ ]:
state2reg = state2reg_series.to_dict()
state2reg

<body>
    <section style="border:1px solid RoyalBlue;">
        <section style="background-color:White; font-family:Georgia;text-align:center">
            <h1 style="color:RoyalBlue">Lynx Trappings</h1><br/>
            <h2 style="color:RoyalBlue">Section "Your Turn"</h2><br/>
            <h2 style="color:RoyalBlue">Chapter 6</h2><br/>
            <h2 style="color:RoyalBlue">Page: 119</h2><br/>
        </section>
    </section>
</body>

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 1</h2>
        <h3 style="font-family:Garamond;">Import Libraries, making input directory and saving file</h3>
    </section>        <hr/>

</body>

In [ ]:
import os
import urllib
import pandas as pd
import numpy as np
inFilePath="./cache"
if not os.path.exists(inFilePath):
    print("Directory ",inFilePath," doesn't exist. Creating it")
    os.mkdir(inFilePath)
else:
    print("Directory ",inFilePath," exist. Continuing")

fileToWork = urllib.request.URLopener()
fileToWork.retrieve("http://vincentarelbundock.github.io/Rdatasets/csv/datasets/lynx.csv", inFilePath+"/lynx.csv")

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 2</h2>
        <h3 style="font-family:Garamond;">Read data and save it as a DataFrame</h3>
    </section>        <hr/>

</body>

In [ ]:
data = pd.read_csv(inFilePath+"/lynx.csv",index_col=0)
data.head()

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 3</h2>
        <h3 style="font-family:Garamond;">Generate a new column for decades</h3>
    </section>        <hr/>

</body>

In [ ]:
data["decade"]=((np.trunc((data.time/10)))*10).astype(int)
data.head()

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 4</h2>
        <h3 style="font-family:Garamond;">Rearrange columns</h3>
    </section>        <hr/>

</body>

In [ ]:
data=data[['decade', 'time', 'value']]
data.head()

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 5</h2>
        <h3 style="font-family:Garamond;">Set decade as index</h3>
    </section>        <hr/>

</body>

In [ ]:
data=data.set_index("decade")
data.head()

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 6</h2>
        <h3 style="font-family:Garamond;">Make new dictionary for final data</h3>
    </section>        <hr/>

</body>

In [ ]:
res = {}
for dec in list(set(data.index.values)):
    res[dec]=(data.ix[dec].value.sum())
res

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 7</h2>
        <h3 style="font-family:Garamond;">Generate new DataFrame from Dictionary and sort it</h3>
    </section>        <hr/>

</body>

In [ ]:
finalDF = pd.DataFrame.from_dict(res, orient='index',columns=['trappings'])
finalDF.index.name = "decade"
finalDF.sort_values("trappings",ascending=False, inplace=True)
finalDF

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 8</h2>
        <h3 style="font-family:Garamond;">Make out directory</h3>
    </section>        <hr/>

</body>

In [ ]:
outFilePath="./doc"
fileName="/result.csv"
if not os.path.exists(outFilePath):
    print("Directory ",outFilePath," doesn't exist. Creating it")
    os.mkdir(outFilePath)
else:
    print("Directory ",outFilePath," exist. Continuing")

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 9</h2>
        <h3 style="font-family:Garamond;">Saving results to CSV file</h3>
    </section>        <hr/>

</body>

In [ ]:
finalDF.to_csv(outFilePath+fileName)

<body>
    <section style="background-color:White; font-family:Georgia;text-align:center">
        <h2 style="font-family:Garamond; color:solid #229954">Step 10</h2>
        <h3 style="font-family:Garamond;">Displaying results</h3>
    </section>        <hr/>

</body>

In [ ]:
%matplotlib inline  

import matplotlib.pyplot as plt
finalDF.plot.bar()