Gerardo Caracas Uribe<br>
Assigment: L1-Core Python<br>
Date: August 23th. 2018

In [1]:
"     Hello, world!   \t\t\n".strip()

'Hello, world!'

In [2]:
"Hello,  world!".split() # Two spaces!

['Hello,', 'world!']

In [3]:
"Hello,  world!".split(" ") # Two spaces!

['Hello,', '', 'world!']

In [4]:
"www.networkssciencelab.com".split(".")

['www', 'networkssciencelab', 'com']

In [5]:
", ".join(["alpha", "bravo", "charlie", "delta"])

'alpha, bravo, charlie, delta'

In [6]:
"-".join("1.617.305.1985".split("."))

'1-617-305-1985'

In [7]:
" ".join("This string \n\r  has     many \t\tspaces".split())

'This string has many spaces'

In [8]:
"www.networksciencelab.com".find(".com")

21

In [9]:
"www.networksciencelab.com".count(".")

2

In [10]:
seq = ["alpha","bravo","charlie","delta"]
dict(enumerate(seq))

{0: 'alpha', 1: 'bravo', 2: 'charlie', 3: 'delta'}

In [11]:
kseq="abcd" # A string is a sequence, too
vseq = ["alpha", "bravo", "charlie", "delta"]
dict(zip(kseq,vseq))

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta'}

In [12]:
from collections import Counter
phrase = "a man a plan a canal panama"
cntr = Counter(phrase.split())
cntr.most_common()

[('a', 3), ('man', 1), ('plan', 1), ('canal', 1), ('panama', 1)]

In [13]:
cntDict = dict(cntr.most_common())
cntDict

{'a': 3, 'man': 1, 'plan': 1, 'canal': 1, 'panama': 1}

In [14]:
cntDict['a']

3

In [15]:
import urllib.request
try:
    with urllib.request.urlopen("http://www.networksciencelab.com") as doc:
        html = doc.read()
        # if reading was successful, the connection is closed automatically
except:
    print("Could not open %s" %doc, file=sys.err)
    # Do note pretend that the document has been read!
    # Execute an error handler here

In [16]:
import urllib.parse
URL="http://networksciencelab.com/index.html;param?foo=baf#content"
urllib.parse.urlparse(URL)

ParseResult(scheme='http', netloc='networksciencelab.com', path='/index.html', params='param', query='foo=baf', fragment='content')

In [17]:
import re
re.split(r"\W", "Hello, world!")

['Hello', '', 'world', '']

In [18]:
#Combine all adjacent non letters
re.split(r"\W+","Hello, world!")

['Hello', 'world', '']

In [19]:
mo = re.match(r"\d+", "067 Starts with a number")

In [20]:
mo.group()

'067'

In [21]:
re.match

In [22]:
re.match(r"\d+", "Does not start with a number")

In [23]:
re.search(r"[a-z]+", "0010010 Has at lest one 010 letter 0010010", re.I)

In [24]:
# Casse sensitive Version
re.search(r"[a-z]+", "0010010 Has at least one 010 letter 0010010")

In [25]:
re.findall(r"[a-z]+", "0010010 Has at least one 010 letter 0010010", re.I)

['Has', 'at', 'least', 'one', 'letter']

In [26]:
re.sub(r"[a-z]+", "[...]", "0010010 has at least one 010 letter 0010010")

'0010010 [...] [...] [...] [...] 010 [...] 0010010'

In [27]:
import glob
glob.glob("*.txt")

['test.txt']

## Word frequency counter

In [28]:
# User, fill in the URL variable below, the url address you wnat to process.
URL="http://www.gutenberg.org/files/2701/2701-0.txt"

In [29]:
# Now read the page, with exception handling
import urllib.request
try:
    with urllib.request.urlopen(URL) as doc:
        html = doc.read()
        # if reading was successful, the connection is closed automatically
except:
    print("Could not open %s" %doc, file=sys.err)
    # Do note pretend that the document has been read!
    # Execute an error handler here

html variable is a byte type variable, we need to convert it into words.

In [30]:
html = html.decode("utf-8")

Now le'ts split the words case insensitive

In [31]:
import re
data = re.split(r"\W+", html,  flags=re.IGNORECASE)

Now let's get the most common words and list the top 10 without using a loop

In [32]:
from collections import Counter
cntr = Counter(data)
result=cntr.most_common()
result[0:10]

[('the', 13972),
 ('of', 6699),
 ('and', 6144),
 ('a', 4648),
 ('to', 4635),
 ('in', 3997),
 ('that', 2994),
 ('his', 2472),
 ('it', 2222),
 ('I', 2120)]

Now let's save our output for future usage

In [33]:
import pickle
with open("myData.pickle","wb") as oFile:
    pickle.dump(data, oFile)

Now let's doublecheck the object has been sotored

In [34]:
with open("myData.pickle","rb") as iFile:
    object = pickle.load(iFile)
print("Object of type =",type(object))
print("Length of object = ", len(object))
print("Sample of object", object[:5])

Object of type = <class 'list'>
Length of object =  222665
Sample of object ['', 'The', 'Project', 'Gutenberg', 'EBook']

## File Indexer

In [35]:
# Needed packages
import glob
import os
import re
import pandas as pd
import numpy as np
from collections import Counter

path_to_files = path where the files to be processed reside

In [36]:
path_to_files="files/"

Now let's list the files

In [37]:
files = glob.glob(path_to_files+"*.txt")
files

['files/tomsawer.txt',
 'files/thespectatorvolume1.txt',
 'files/thestoryofthezulucampaign.txt']

We iterate here through each one of the files making the following operations per file:
* Read the data as a whole block
* Split the data as an array or words, case insensitive. And store it in a list
* We remove the white spaces, and empty strings from the list
* We are not counting frequency of words, thus we will remove duplicates, by converting it in a set, and then convert it back into a list
* Define a temporarly dictionary where we add {filename:series of words}
* Finally we append the result into our final dataframe, which will contain all the words in all the files.

*** Note that in all this excercise we loop only through the file list but never through the contents of the file. We are using the pandas capability of processing data without a loop.

In [38]:

finalDataframe = pd.DataFrame()
for file in files:
    with open(file, mode="r") as f:
        data = f.read()
        # Split data into array of words, non case sensitive
        word = re.split(r"\W+", data,  flags=re.IGNORECASE)
        # Remove withe spaces and empty strings
        cleanWords = [line for line in [l.strip() for l in word] if line]
        # Remove duplicates, we don't want them
        words = list(set(cleanWords))
        # Add data into dictionary
        dictionary = {"filename":file, "values":pd.Series(words)}
        finalDataframe = finalDataframe.append(pd.DataFrame(dictionary))

In order to visualize the result data, here is the printout if the head of the dataframe

In [39]:
finalDataframe.head()

             filename    values
0  files/tomsawer.txt       jib
1  files/tomsawer.txt   waverer
2  files/tomsawer.txt  perilous
3  files/tomsawer.txt    killed
4  files/tomsawer.txt   furnish

And here is the tail, note that the filename is different, in the filename column we will add all the file names sequentially. Thus could potentially have a duplication of words. That is ok, we will handle that soon.

In [40]:
finalDataframe.tail()

                                  filename     values
10420  files/thestoryofthezulucampaign.txt   apprised
10421  files/thestoryofthezulucampaign.txt  defenders
10422  files/thestoryofthezulucampaign.txt   occurred
10423  files/thestoryofthezulucampaign.txt       rest
10424  files/thestoryofthezulucampaign.txt      Ocean

In the following cell, we will use the pandas crosstab function. The main reason we choose this, is because it will generate a table with all the words with no duplication (important) and it will create a matrix to make a relationship between words and on which files a given word is included into.

In [41]:
crossTabMatrix = pd.crosstab(finalDataframe['values'], finalDataframe['filename'])

Sample of the crossTab Matrix

In [42]:
crossTabMatrix.tail()

filename,files/thespectatorvolume1.txt,files/thestoryofthezulucampaign.txt,files/tomsawer.txt
values,,,
ære,1,0,0
ætas,1,0,0
æternaque,1,0,0
è,1,0,0
échelon_,0,1,0

We will iterate for the second time through the list of filenames, so we can replace the [1,0] values in the crossTab matrix, and replace it with the file name.

In [43]:
for file in list(crossTabMatrix.columns.values):
    crossTabMatrix[file].replace([0,1],['',file],inplace=True)

Sample of our matrix with filenames rather than [1,0]

In [44]:
crossTabMatrix.tail()

filename,files/thespectatorvolume1.txt,files/thestoryofthezulucampaign.txt,files/tomsawer.txt
values,,,
ære,files/thespectatorvolume1.txt,,
ætas,files/thespectatorvolume1.txt,,
æternaque,files/thespectatorvolume1.txt,,
è,files/thespectatorvolume1.txt,,
échelon_,,files/thestoryofthezulucampaign.txt,

In [45]:
# Dimension of the matrix, as we can see in this example, we have 3 columns. One per file name
crossTabMatrix.shape

(32453, 3)

In the following step, we will convert the values of each row, into a list.

In [46]:
setOfLists=crossTabMatrix.apply(lambda x: x.tolist(), axis=1)

Sample of our set of lists. Note that we are getting closer to our final solution. We wet the word, and then a list of files that include that word.

In [47]:
setOfLists.tail()

values
ære                [files/thespectatorvolume1.txt, , ]
ætas               [files/thespectatorvolume1.txt, , ]
æternaque          [files/thespectatorvolume1.txt, , ]
è                  [files/thespectatorvolume1.txt, , ]
échelon_     [, files/thestoryofthezulucampaign.txt, ]
dtype: object

Finally we convert setOfLists into a dictionary as a final solution

In [48]:
finalDict = setOfLists.to_dict()

Sample of our final result.

In [49]:
iterator = iter(finalDict.items())
for i in range(3):
    k,v = next(iterator)
    print("[",k,"] = ",v)

[ 0 ] =  ['', '', 'files/tomsawer.txt']
[ 000 ] =  ['files/thespectatorvolume1.txt', 'files/thestoryofthezulucampaign.txt', 'files/tomsawer.txt']
[ 000_l ] =  ['', 'files/thestoryofthezulucampaign.txt', '']